body{
	background-color:dimgrey;	
}
.nav-wrapper{
	background-color: bisque;
}

img{
 width:50%;
 height: 200px;
}
.card{
 height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
