body{
	background-color:dimgrey;
	font-family: 'Pangolin', cursive;
}


img{
 width:50%;
 height: 150px;
}
.card{
 height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokemoncitos{
	background-color:rgba(255,255,255,.8);
}

#modal1{
 display: flex;
 align-content: space-around;
}

#imagenModal{
 margin-left:3%;	
 margin-top: 10%;
 width:30%;
 height: 30%;
}
.boton{
	margin-top:5%;
	margin-bottom: 3%;
}